@import 'tailwindcss';

@theme {
  --color-primary: #4DB960;
  --color-sub: #999999;

  --font-3xl: 1.5rem;   /*24px*/
  --font-2xl: 1.25rem;  /*20px*/
  --font-xl: 1.125rem;  /*18px*/
  --font-lg: 1rem;      /*16px*/
  --font-base: 0.875rem;/*14px*/
  --font-sm: 0.75rem;   /*12px*/
  --font-xs: 0.625rem;  /*10px*/

  --lineheight-lg: 150%;
  --lineheight-base: 140%;
  --lineheight-sm: 120%;

  --letterspacing: 0em;

  --font-family: 'Pretendard', sans-serif;
}

.t1 {
  font-size: var(--font-3xl);
  font-weight: 600;
  line-height: var(--lineheight-base);
}

.t2 {
  font-size: var(--font-2xl);
  font-weight: 700;
  line-height: var(--lineheight-sm);
}

.t3 {
  font-size: var(--font-2xl);
  font-weight: 500;
  line-height: var(--lineheight-base);
}

.body1 {
  font-size: var(--font-xl);
  font-weight: 700;
  line-height: auto;
}

.body2 {
  font-size: var(--font-xl);
  font-weight: 500;
  line-height: auto;
}

.body3 {
  font-size: var(--font-xl);
  font-weight: 400;
  line-height: auto;
}

.body4 {
  font-size: var(--font-lg);
  font-weight: 700;
  line-height: auto;
}

.body5 {
  font-size: var(--font-lg);
  font-weight: 500;
  line-height: auto;
}

.body6 {
  font-size: var(--font-lg);
  font-weight: 400;
  line-height: auto;
}

.label1 {
  font-size: var(--font-base);
  font-weight: 700;
  line-height: auto;
}

.label2 {
  font-size: var(--font-base);
  font-weight: 500;
  line-height: auto;
}

.label3 {
  font-size: var(--font-base);
  font-weight: 400;
  line-height: auto;
}

.label4 {
  font-size: var(--font-sm);
  font-weight: 500;
  line-height: auto;
}

.label5 {
  font-size: var(--font-sm);
  font-weight: 400;
  line-height: auto;
}

.label6 {
  font-size: var(--font-xs);
  font-weight: 700;
  line-height: auto;
}

.label7 {
  font-size: var(--font-xs);
  font-weight: 500;
  line-height: auto;
}

.footer {
  background: var(--Materials-Chrome, rgba(255, 255, 255, 0.75));
  background-blend-mode: hard-light;
  box-shadow: 0 -0.33px 0 0 rgba(0, 0, 0, 0.30);
  backdrop-filter: blur(25px);
}

body {
  font-family: var(--font-family);
  letter-spacing: var(--letterspacing);
}